/* Fontes utilizadas:
   1. Elemento H1 = Montserrat
   2. Elementos com a classe date = Roboto
   3. Elementos com a classe post-content = Open Sans
Cores:
   1. Background dos posts = #fffafa
   2. Cor da data = #008080​ */

   body {
       margin: 0px;
   }
   .post-container {
        background-color: #e6cdcd;
        margin: 0px auto 0px auto;
        width: 70%;
        height: 100%;
   }

   .post-container .date {
       font-family: 'Roboto', sans-serif;
       color: #008080
   }

   .post-container div.post-content {
       font-family: 'Open Sans', sans-serif;
   }

   h1 {
       font-family: 'Montserrat', sans-serif;
       font-weight: bold;
   }
   .post-container .post {
       padding: 40px;
   }